
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.highcharts-figure,
.highcharts-data-table table {
    margin: 1em auto;
    width: 400px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 200px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.bg {
    margin-top: 70px;
    background-color: white;
    align-items: center;
}

#holder_info {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chartConteiner {
    width: 400px;
    border: 1px solid #ccc;
  }

@media (max-width: 450px) {

    .highcharts-figure,
    .highcharts-data-table table {
        width: 200px;
    }

    #holder_info {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #chartConteiner {
        width: 200px;
      }
}