@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
}

a {
    cursor: pointer;
}

.header {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 20px;
    width: 90%;
}

.header span {
    font-weight: 900;
    font-size: 30px;
    word-break: break-all;
}

#new {
    font-size: 16px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #075da8;
    text-decoration: none;
}


@media (max-width: 700px) {
    body {
        font-size: 10px;
    }

    .header span {
        font-size: 15px;
    }

    #new {
        padding: 5px;
        font-size: 10px;
    }

    .modal {
        width: 90% !important;
    }

    .modal label {
        font-size: 12px !important;
    }
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    width: 90%;
    margin: auto 20px;
}

.modal label {
    font-size: 14px;
    width: 100%;
    font-weight: bold;
}

.modal input {
    width: 100%;
    outline: none;
    padding: 5px 10px;
    width: 100%;
    margin-bottom: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.modal #btnAdd {
    width: 100%;
    height: 40px;
    margin: 10px auto;
    outline: none;
    border-radius: 10px;
    padding: 5px 10px;
    width: 100%;
    border: none;
    background-color: #075da8;
    color: white;
}

#btnAdd:hover {
    background-color: darkblue;
    transition: 0.5s;
}

#new:hover {
    background-color: darkblue;
    transition: 0.5s;
}

#msg{
    width: 90%;
    margin: auto 20px;
}